name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          user: vinicius-b-oliveira
          template: classic
          
          base: "" 
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, blade, scss, smarty
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: github
          plugin_languages_details: percentage
          
          filename: my-langs.svg
          committer_branch: metrics
          committer_message: "chore: update languages"
